.banner__mensaje{
    color: #ffffff;
    font-family: 'Orbitron';
    position: absolute;
    text-align: left;
    left: 10%;
    top: 57%;
}
@media screen and (min-width:0) {
    .banner__mensaje{
        font-size: 1rem;
    }
}
@media screen and (min-width:768px) {
    .banner__mensaje{
        font-size: 1.2rem;
    }
}