.banner__titulo{
    color: #ffffff;
    font-family: 'Orbitron';
    position: absolute;
    text-align: left;
    left: 10%;
    top: 50%;
}
@media screen and (min-width:0) {
    .banner__titulo{
        font-size: 2rem;
    }
}
@media screen and (min-width:768px) {
    .banner__titulo{
        font-size: 3rem;
    }
}