.navegador{
    align-items: center;
    background: black;
    display: flex;
    justify-content: space-between;
}
@media screen and (min-width:0) {
    .navegador{
        padding: 0 1rem;
        justify-content: center;
    }
}
@media screen and (min-width:768px) {
    .navegador{
        padding: 0.4rem 5rem;
        justify-content: space-between;
    }
}